header {
    height: auto;
    padding: 0px;
    background-color: #007bff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('image/test.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    animation: fadeIn 1s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    color: #370637;
    font-size: 35px;
}

.logo {
    width: 135px;
    height: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.header-text {
    flex-grow: 1;
    text-align: center;
    margin-right: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #370637;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.form-group input[type="submit"]:hover {
    background-color: darkblue;
    color: white;
    border: 1px solid black;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .login-container {
        width: 95%;
    }
     header {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }
}
